# env variable for traefik
DOMAIN=local.org
STORAGE=/letsencrypt/acme.json
EMAIL=admin@example.com
TZ=Europe/Rome

# domain for each container service
WIKIJS_DOMAIN=wikijs
KOMGA_DOMAIN=komga
JELLYFIN_DOMAIN=jellyfin
HOMEPAGE_DOMAIN=homepage
PORTAINER_DOMAIN=portainer
TEST_DOMAIN=test
METUBE_DOMAIN=metube
PIALERT_DOMAIN=pialert
AUTHELIA_DOMAIN=authelia

# variable for the configuration of the NFS Server for the volumes
NAS_ADDRESS=
PATH_BOOKS=:
PATH_MEDIA=:

# variable for authelia configuration
AUTHELIA_JWT_SECRET_FILE=
AUTHELIA_SESSION_SECRET_FILE=
AUTHELIA_STORAGE_ENCRYPTION_SECRET=
AUTHELIA_OIDC_HMAC_SECRET=
